.section-cards {
    &__header {
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
    }
    &__subtitle {
        color: #444;
        font-size: 1rem;
        padding: 1rem;
    }
    &__products-search-container {
        padding: 1rem;
        background-color: rgb(230, 230, 230);
        border-radius: 1rem;
        font-size: 1.2rem;
        
    }
    &__category {
        padding-left: 1rem;
    }

    .cards-container {
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}

.fa-magnifying-glass {
    cursor: pointer;
    font-size: 17px;
    color:#c3a343;
    
}


.product-search {
    &__input{
        border: none;
        height: 1.8rem;
        font-weight: 500;
        border-radius: 0.3rem;
        padding-left: 1rem;
        color:#b4b4b4;
        width: 23rem;
    }
    &__btnDiv{
        padding: 0.5rem;
    }
    &__btn{
        background-color: #c3a343;
        border: none;
        color: white;
        height: 2rem;
        width: 4rem;
        cursor: pointer;
        border-radius: 0.5rem;
        
    }
    }
.btn-inicio{
    display: flex;
    justify-content: center;



    &__boton{
        text-align: center;
        padding-top: 0.7rem;
        height: 3rem;
        width: 10rem;
        margin: 1.5rem;
        background-color: rgb(240, 240, 240);
        border:solid rgb(193, 193, 193)  2px;
        border-radius: 0.5rem;
        color: rgb(193, 193, 193);
        cursor: pointer;
    }

}


@media screen and (min-width: 600px) {
    // .cards-container {
        
    // }
}

@media screen and (min-width: 1000px) {
    .section-cards {
        &__header {
            display: flex;
        }
    }
} 