

.ContactLocation {
    // flex-direction: row;
    display: flex;
    flex-direction: column;
    justify-content:left;
    padding: 30px;
    padding-top: 20px;
    height: 50rem;
    background-color: rgb(235, 234, 234);
    


    &__Iframe{  
        padding: 15px;
        width:500px;
        height:450px;
        
    }
}

.iframeLocation {
    padding-top: 2rem;
    margin: 10px auto;
    height:70rem;

}