.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-dark-gray;
    justify-content: space-between;
    padding-right:5rem;

    &__contact-item {
        list-style: none;   
    }
    &__column { 
        justify-content: space-between;
        padding: 1rem 1.5rem;
    }



    &__contact-link {
        color: white;
        padding: .25rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        color:#535353;   
    }

    &__contact-icon {
        font-size: 1.75rem;
        &--facebook {
            color: #38529a;
        }
        &--instagram {
            color: #f14d59;
        }
        &--linkedin {
            color: #0077b6;
        }
        &--phone{
            color: #10e0108f;
        }
        &--location{
            color: #003fee;
        }
        &--email{
            color: rgb(255, 254, 254);
        }
        &--home{
            color:rgb(241, 234, 234);
        }
    }
}


@media screen and(min-width: 600px) {
    .footer {
        flex-direction: row;

    }

}