.main {
    margin-top:50px;
    padding: 1.5rem 0;
    background-color: rgb(235, 234, 234);
    
    padding-bottom:11rem;
}



.section-cards {
    &__title-container h1{
        font-size: 25px;
        
    } 
}

