.main {
    margin-top: 50px;
    padding: 1.5rem 0;
    background-color: aliceblue;
}



.section-cards {
    &__title-container h1{
        font-size: 25px;
        
    } 
}

.whatsapp-container {
    /* margin: 15px; */
    position: fixed;
    right: 15px;
    bottom: 0;
    /* background-color: black; */
    color: dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;

    &____go-top {
    color: rgb(0, 0, 0);
    font-size: 36px;
    }
}

.logoWP {
    height: 5rem;
}