

.card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid rgb(247, 247, 247);
    &__header {
        height: 400px;
        background-color: orange;
        overflow: hidden;
 
    }

    &__img {
        width: 100%;
        height:100%;
        object-fit: cover;
        
    }
 
    // &__img:hover {
    //     // transform: scale(1.10);
    //     transition: .5s ease-in-out;
    //     z-index: 0;
    //     box-shadow: 0 0 15px #337223;
    // }


    &__body {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        flex-grow: 1;
    }

    &__title {
        display: flex;
        font-weight: 500;
        font-size: 1.1rem;
        border-bottom: 2px solid ;
    }

    &__description {
        padding: 0 0 2rem;
        font-size: 1rem; 
        flex-grow: 1;   
    }

    &__texto {
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 0.8rem;  
    }
    &__list {
        padding: 1.5rem 0 2rem;
        list-style-type:none;
        font-size: 0.8rem;
        margin-top: 1px; 
        // line-height: 2rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;

        // color: $color-bg-secondary;
    }

    &__price {
        font-weight: 500;
        font-size: 1.3rem;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    // &__footerCard {

    //     display: flex;
    //     justify-content: space-between;
    //     padding-bottom: 0;
    //     padding: 0.5rem;
    //     margin-bottom:1;
    // }

    &__date {
        // color:#c3a343;
        padding-top: 1rem;
    }

  
    
    &__btn {
        padding: 1rem 1.5rem;
        background-color: #00000034;
        color: white;
        border-radius: 8px;
    }

    &__btn:hover {
        box-shadow: 0 0 5px #858585;
        transition: all 0.5s ease;
    }
    &__btn-buy{
        padding: 1rem 1.5rem;
        background-color: #c3a343;
        color: white;
        border-radius: 8px;
    }
    &__btn-buy:hover{
        box-shadow: 0 0 5px #858585;
        transition: all 0.5s ease;
    }



 
    &__footerCard{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 0;
        padding: 0.5rem;
        margin-bottom:1;
    }
}


